.chatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chatComponent {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
}

.historyList {
    overflow: auto;
}

.chatHeader {
    display: flex;
    background-color:cornflowerblue;
    align-items: center;
    justify-content: space-between;
}

.chatBotTitle {
    margin-left: 20px;
}

.userChat {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 400px;
}

.botChat {
    display: flex;
    align-items: center;
    max-width: 400px;
}